/*
Opdracht:           Stylesheet opmaken voor Index.php
Auteur:             Boris Vasic
Aanmaakdatum:       5-2-2020
Bestandnaam:        style.css
*/
#IndexBody
{
    background-color: antiquewhite;
    margin: 0px;
}
#UitwerkingenTitel
{
    margin: 0px;
    background-color: darkorange;
    padding: 2%;
}
#Menu
{
    padding-left: 1%;
}
#wrapper
{
    background-color: coral;
    padding: 2%;
}
.Klas
{
    text-align: center;
    background-color: red;
    padding: 2.5%;
    color: white;
}
.Hoofdstukken
{
    font-weight: bold;
}
h1,h2,a,li,ul
{
    font-family: "Arial";
}
ul,li
{
    list-style-type: none;
}
.Opdracht2Punt2H4,.Opdracht2Punt2P
{
    color: indigo;
    font-family: "Arial";
}
.Opdracht2Punt2P
{
    background-color: aliceblue;
    padding: 20px;
}
.VerhaalP
{
    font-family: "Arial";
    font-weight: 200;
}
.red
{
    color: red;
}
.green
{
    color: green;
}
.orange
{
    color: orange;
}
.BoldSPAN
{
    font-weight: bold;
}
#WelkeVakEnDocentHebIk
{
    font-family: "Arial";
    font-size: 20px;
}
#HoelaatIsHet
{
    background-color: cornflowerblue;
    color: white;
    padding: 17px;
    font-size: 17px;
    font-family: "Book Antiqua";
}
#DataFormTable
{
    border-collapse: collapse;
}
.formDataTable
{
    border: 1px solid black;
}
.UitschrijfFormulier
{
    width: 340px;
    font-family: "Tahoma";
}
.RestariaText
{
    font-family: 'AcmeFont';
}
.FormulierLabelText
{
    font-family: "Tahoma";
}
.UitschrijfingTextBox
{
    width: 300px;
    font-family: "Tahoma";
}
#foutmeldingEindopdrachtP3
{
    color: red;
    font-family: "Arial";
}
#EindopdrachtP3FieldSetOne
{
    float: left;
    width: 20%;
    height: 175px;
    box-sizing: border-box;
}
#EindopdrachtP3FieldSetTwo
{
    float: left;
    width: 20%;
    height: 175px;
    box-sizing: border-box;
}
.EO3Gegevens
{
    position: absolute;
    top: 320px;
    left: 1px;
}
#EO3TerugNaarVorigePaginaLink
{
    top: 370px;
}
#EO3welkom
{
    position: relative;
    left: 260px;
    font-family: 'Tahoma';
}
.EO3AlgemeenTekstOpmaak
{
    font-family: "Arial";
    font-weight: normal;
}
#EO3button
{
    position: relative;
    left: 70px;
    font-size: 20px;
}
.SteenPapierSchaar
{
    width: 5%;
    height: 5%;
}
.JokeCSS
{
    font-weight: bold;
    text-align: center;
}
.JokeSearchCSS
{
    font-weight: bold;
    border: 1px solid black;
}
.jokeData
{
    font-weight: normal;
    border: 1px solid black;
}

